.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
}

.music-player-container {
  background-color: #333; /* Puedes ajustar el color de fondo según tus preferencias */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.music-info {
  width: 100px; /* Ancho deseado en píxeles */
  height: 100px; /* Altura deseada en píxeles */
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Agrega estilos para el reproductor de música según tus preferencias */

/* Establece el color blanco para el texto en el reproductor de música */
.album-cover, .song-details, .control-button {
  color: white;
}
